page-social {
  .subheader .toolbar-background-ios {
    border-width: 0 0 1px !important;
    background-color: #7e3501;
  }

  .subheader .toolbar-title-ios {
    color: #ffffff;
    font-family: "Oswald ExtraLight Italic";
    letter-spacing: 1px;
  }

  .subheader .toolbar-background-ios {
    border-style: solid !important;
    border-color: #e8e8e8 !important;
  }

  .item-block {
    min-height: 5.4rem;
  }

  .items-container .row:active {
    opacity: 0.8;
  }

  .items-container ion-grid {
    width: 100%;
    height: 60px;
    background-color: #e0e0e0;
    padding: 0;
    margin-bottom: 10px;
  }

  .items-container ion-row {
    height: 100%;
  }

  .event-title, .event-hour {
    height: 100%;
    width: 100%;
    display: table;
  }

  .event-title span, .event-hour span {
    display: table-cell;
    vertical-align: middle;
  }

  .event-title span {
    padding-left: 0px;
    text-align: center;
  }

  .event-hour {
    text-align: center;
    vertical-align: middle;
  }

  .event-date {
    font-family: "Oswald Regular";
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 1px;
  }

  .event-day {
    margin: 1px;
    font-size: 14px;
    font-family: "Oswald Light";
  }

  .event-title-text {
    font-family: "Oswald ExtraLight Italic";
    text-transform: uppercase;
    font-size: 16px;
  }

  .name-col {
    background-color: #ededed;
  }

  .date-col {
    background-color: #2f2f2f;

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
  }
}
